/* Reset */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  max-height:2500px;
}

/* Main Styling */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #05445E;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
.dbu-logo{
  width: 60px;
  height:60px;
  border-radius:50%; 
}
/* Utility Classes */
.container {
  margin: auto;
  /* max-width: 1100px; */
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color:#75E6DA;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color:#D4F1F4;
  background:#05445E;
  padding: 3px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background:#1bb8a8;
  color:#05445E;
}

.btn-light {
  background: #f4f4f4;
  color:#05445E;
}

.bg-dark {
  background:#05445E;
  color:#D4F1F4;
}

.bg-light {
  background: #f4f4f4;
  color:#05445E;
}

.bg-primary {
  background: #75E6DA  ;
  color:#05445E;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 50px;
  line-height: 1.2;
}

/* Padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* Navbar */
#navbar {
  background: #31c9b9;
  color: #189AB4;
  overflow: auto;
  /* position: fixed; */
  /* width: 100%; */
  /* top: 0; */
  /* z-index: 1000;  */
}

#navbar a {
  color:#043a35;
  border-radius: 40px;
  height: 70px;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background-color:#6DF8FFC2;
  color:#012e41;
}

/* Showcase */
#showcase{
  background: url('../img/../img/pexels-igoralshin-2873277.jpg') no-repeat center center/cover ;
  background-attachment: fixed;
  backdrop-filter: blur(30px);
  backdrop-filter: blur(5px);
  height: 850px;
}


#showcase .showcase-content {
  color: #D4F1F4;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
.join{
  font-size: 20px;
}

/* Home Info */
#home-info {
  height: 700px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/../img/the-campus-of-debre-berhan-university-debre-berhan-ethiopia-W5C2R4.jpg') no-repeat;
  /* opacity:; */
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 90px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align:center;
}

.box i {
  margin-bottom: 10px;
}







/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
  color: #043a35;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #67e4f1 solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus, 
#contact-form textarea:focus {
  outline: none;
  border-color: #75E6DA;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #059789;
  color: #06272b;
  padding: 20px;
  /* height:25px; */
}
.contact-container{
  margin-top: 200px;
}


/* .........club............ */
.maindiscription{
 display: flex; 
 flex-direction: row; 
}
.eventimg{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom:20px ;
  margin-right: 0px;
  border-radius: 50px;
  /* float: left; */
  width: 30%;
  height: 100%;
}

.eventcontent{
  /* float: right; */
  width: 50%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  
}

.eventcontent{
  text-align:start;
  margin-top: 30px;
  margin-bottom:20px;
  padding-bottom: 10px;
  width: 60%;
  margin-right: 30px;
}

/*....club..... */
span.bold{
  font-weight:bold;
  font-size: 30px;
}


/* .................footer................... */

#main-footer {
  background-color: #208b74;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Push footer to the bottom */
  width: 100%;
}




