body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



main {
    flex: 1;
    padding: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
   border: #3333333a;
    color: black;
    border: solid ;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    border-color: #ff0000;
}






